<nav class=" navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/logo_sushi.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/rgpd/">Règlement RGPD</a>
      <a class="navbar-brand" href="/panier/">
        <img src="../../../assets/img/icons8-panier-100.png" alt="" style="height: 80px;">
      </a>
    </div>
  </nav>