<app-header></app-header>
<section class="section">
    <table *ngIf="sushiBoxes.length > 0; else sushiEmpty" class="table is-striped center">
        <thead>
            <tr>
                <th>Nom</th>
                <th></th>
                <th>Prix</th>
                <th>Ajout</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sushi of sushiBoxes">
                <td>{{ sushi.nom }}</td>
                <td> 
                    <a href="/details/{{sushi.id}}"><img src="{{pathImage}}{{sushi.image}}"></a>                 

                </td> 
                <td>{{sushi.prix}}€</td> 
                <td><button type="button" class="btn btn-success mb-2">Quoicoubae</button></td>          
            </tr>        
        </tbody>
        <tfoot>
            <div style="font-weight:bold;">Nombre de boxes : {{ sushiBoxes.length }}</div>
        </tfoot>
    </table>
    
    <ng-template #sushiEmpty>
        <p>Pas de sushi boxes ! </p>
    </ng-template>
    
    </section>
