<app-header></app-header>
<section class="section">
    <h1 class="title">Détails de notre box</h1>
    <h3 class="title">Voice le {{detailBox.nom}}</h3>
    <h3 class="title">Une Box pour seulement {{detailBox.prix}}€</h3>
    <h3 class="title">Comprenant différente saveurs tels que {{detailBox.saveurs}}</h3>
    <h3 class="title">Avec comme aliment {{detailBox.aliments[0].nom}}</h3>
    <h3 class="title">Et une image à vous faire saliver d'envie</h3>
    <img src="{{pathImage}}{{detailBox.image}}">
</section>
