<app-header></app-header>
<section class="about section-padding" id="about">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-12">
                <h3 class="mb-4">Détails de la box</h3>
                <p>Information concernant la box</p>
                <p></p>
                <ul>
                    <li>
                        Voici le {{detailBox.nom}}
                    </li>
                    <li>
                        Une Box pour seulement {{detailBox.prix}}€
                    </li>
                    <li>
                        Comprenant différente saveurs tels que {{detailBox.saveurs}}
                    </li>
                    <li>
                        Avec comme aliment {{detailBox.aliments[0].nom}}
                    </li>
                </ul>
                <p><br></p>
                <a type="button" class="btn btn-success mb-2">Ajouter</a>
            </div>
            <div class="col-lg-5 mx-auto col-md-6 col-12">
                <img src="https://gentle-bears-teach-83-199-247-49.loca.lt/api/image/{{detailBox.image}}" class="img-fluid" alt="Sushi" style="width: 1000%;">
            </div>
        </div>
    </div>
</section>
