li{
    padding-left: 20px;
}

.menuNavBar{
    padding-left: 20px;
    font-size: x-large;
    text-decoration: underline;
}

.link{
    color: white;
    font-size: large;
}
.test{
    padding-left: 250px;
}