<app-header></app-header>
<div class="rgpd">
    <h1>Bienvenue sur la page concernant le règlement RGPD</h1>
<h3>CONDITIONS GÉNÉRALES DE VENTE</h3>
<p>Les présentes Conditions Générales de Vente (ci-après « CGV ») s’appliquent à toute commande de produit(s) passée sur le site SushiFast à compter du 2 avril 2023. Toute modification des CGV ne sera pas applicable aux commandes passées avant la date de modification. 
</p>
<h3>1. Commande de produits sur le site</h3>
<p>Les produits proposés à la vente sont décrits et présentés avec la plus grande exactitude possible. SushiFast se réserve le droit de corriger le contenu du site.</p>
<p>Le client est informé qu’il devra sélectionner le(s) produit(s) qu’il souhaite inclure dans son panier.<br>
Après avoir sélectionné le(s) produit(s) que le client souhaite acheter dans son panier dont il peut modifier à tout moment le contenu, un rappel du contenu de la commande est proposé au client.<br>
Le client confirme son acceptation de sa commande en cochant la case de validation des CGV. Le contrat est alors valablement conclu entre SushiFast et le client.<br>
Le client procède au paiement de sa commande, en utilisant l’une des solutions de paiement qui lui sont proposées (uniquement cartes bancaires). Pour procéder au paiement, le client saisit les coordonnées de livraison du ou des produit(s) et, de facturation, si elles sont différentes.<br>
</p>
<h3>2. Responsabilité</h3>
<p>Le client est tenu responsable des renseignements qu’il fournit et notamment de l’adresse de livraison. SushiFast n’est en aucun cas responsable des erreurs de livraison causées par une adresse erronée.</p>
<h3>3. Prix</h3>
<p>Les prix affichés sur le site sont mentionnés en euros et toutes taxes comprises hors frais de livraison qui eux, sont appliqués et détaillés lors de la commande. SushiFast se réserve la possibilité de modifier ses prix à tout moment. Les produits sont facturés sur la base des tarifs en vigueur au moment de la validation de la commande sous réserve de disponibilité.</p>
<h3>4. droit de rétractation</h3>
<p>Sans préjudice des dispositions légales relatives à la conformité des produits ou aux vices cachés, le client dispose d’un délai de 14 jours à compter de la réception du ou des Produit(s) commandés pour exercer son droit de rétractation auprès de SushiFast, sans avoir à justifier de motifs. Dans ce cas, les frais de retours sont à votre charge.

    Pour exercer son droit, le client doit retourner, à ses frais, le ou les produit(s) non périssable(s) en bon état, non ouverts, non entamé(s) et avec l’ensemble des éléments d’emballage non détérioré, à l’adresse suivante :
    
    SushiFast SAS, 189 rue des sushi, 77123 sushiCity
    
    Le client est invité à indiquer le motif de retour, afin d’aider SushiFast à améliorer son service. Tout produit entamé et/ou dont l’emballage serait détérioré ne sera pas remboursé.
    
    Le remboursement du ou des produit(s) retourné(s) sera effectué par sushiFast par crédit sur sa carte bancaire ou avoir selon le choix du client, et au plus tard dans un délai de 14 jours suivant la date à laquelle SushiFast réceptionnera le(s) produit(s) retourné(s).</p>
<h3>5. Cas de force majeur</h3>
<p>SushiFast se dégage de toute responsabilité en cas d’inexécution du contrat dû à un cas de force majeure (grève, incendie, inondation...).</p>
<h3>6. Données personnelles</h3>
<p>Les informations communiquées sur le site (sur le formulaire de commande) sont destinées exclusivement à nous permettre de traiter et exécuter vos commandes passées sur le site
    En passant votre commande, vous acceptez que vos données personnelles (nom, adresse postale, adresse mail, numéro de téléphone, etc.) soient intégrées dans le fichier client de la société SushiFast
    Conformément aux réglementations française (Loi Informatique et Liberté) et européenne (RGPD), vos données personnelles ne seront utilisées que pour les finalités décrites ci-dessus. Elles seront traitées et protégées avec le plus haut degré de confidentialité par SushiFast, dans les conditions définies dans le registre de traitement des données personnelles de SushiFast, stockées dans un outil CRM/mass mailing dédié, et hébergées sur les serveurs de notre fournisseur d’accès (GitHub Pages).
     Leur durée de stockage ne pourra excéder la période nécessaire aux traitements décrits ci-dessus. En aucun cas, ces informations ne sont partagées avec ou revendues à des sociétés tierces.
     Le responsable de traitement des données personnelles au sein de la société SushiFast est M. Sushi Fast (sushi-fast@icloud.com).
     Conformément à la loi, vous disposez d’un droit d’information, de rectification, d’effacement, d’accès et/ou de portabilité de vos données personnelles.
</p>
<h3>7. Loi applicable</h3>
<p>Les présentes conditions générales de vente sont soumises au droit français.</p>

</div>


