<h1>Bienvenue sur la page concernant le règlement RGPD</h1>
<h3>Information concernant le visiteur</h3>
<p>SushiFast est actuellement un site de commande en ligne dont le paiment se fait en physique dans une de nos boutiques partenaires.
    Le but est de pouvoir proposer une expérience en ligne à nos clients qui une fois sur place dans une de nos boutiques partenaires
    auront juste à payer et prendre leur commande.
</p>
<h3>Un site web sécurisée</h3>
<p>SushiFast est un site internet utilisant le protocole https et hébergé chez GitHub via leur modules "pages"</p>
<p>SushiFast est un site utilisant la dernière version d'Angular et régulièrement mis à jour afin de proposer
    une expérience sécurisée
</p>

